#swish-logo {
  height: 25px;
  margin-top: 10px;
  vertical-align: -5px;
}

.nordea-text {
  font-size: 9px;
}

.nordea-logo {
  height: 10px; 
}

.cl-btn-group {
  margin-top: 10px;
}

.btn-big {
  margin: 10px;
}

p.small {
  font-size: 11px;
  font-style: italic;
}


/*------------------ sidemenu ------------------*/

.menu-button {
  color: #fff;
  cursor: pointer;
  left: 12px;
  position: absolute;
  top: 12px;
}

.side-menu {
  background-color: #045;
  color: #fff;
  height: 590px;
  left: -250px;
  position: absolute;
  width: 250px;
  z-index: 20000;
}

.side-menu h4 {
  margin-left: 20px;
}

.side-menu ul {
  margin: 0;
  padding: 0 10px;
}

.side-menu li {
  border-bottom: 1px solid #034;
  list-style-type: none;
  padding: 12px;
}

.side-menu li:last-child {
  border-bottom: 0;
}

/*-- end of sidemenu --*/


/*------------------ main.html ------------------*/

.balance-text {
  font-size: 16px;
}

.balance {
  float: right;
  font-size: 18px;
}


.recipient.padded {
  font-size: 16px;
  margin: 50px 10px 0;
  padding: 0 10px;
  position: relative;
}

.recipient input[type="text"] {
  margin: 10px 0; 
}

.select-recipient {
  background-color: #fff;
  position: absolute;
  top: 62px;
  width: 312px;
  z-index: 10000;
}

.select-recipient ul {
  margin: 0;
  padding: 0; 
}

.select-recipient li {
  background-color: #3ab;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: none;
  list-style-type: none;
  margin: 2px;
  padding: 5px 40px;
  position: relative;
}

.select-recipient i.user {
  left: 5px;
  position: absolute;
}

.select-recipient .number {
  font-size: 12px;
}

.select-recipient img {
  height: 25px;
  position: absolute;
  right: 50px;
  top: 10px;
}

.select-recipient i.delete {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 10px;
  top: 15px;
}

.amount.padded {
  font-size: 16px;
  margin: 10px 10px 0;
  padding: 0 10px;
  position: relative;
}

.amount input[type="text"] {
  margin: 10px 0;
}

.amount .euro {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 35px;
}

.payment-button {
  margin: 10px 20px;
}

/*-- end of main.html --*/




/*------------------ receipt.html ------------------*/

.receipt-container {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.receipt {
  background-color: #fff;
  margin: 0 30px;
  padding: 10px;
  position: absolute;
  top: -200px;
  width: 290px;
}

.receipt .check {
  text-align: center; 
}

.receipt .check i {
  color: green;
}

/*-- end of receipt.html --*/




/*------------------ popover ----------------*/

.cl-popover {
  left: 35px;
  top: 250px;
}

.cl-popover .cl-btn {
  margin: 10px;
}

.cl-popover:after {
  display: none;
}

.cl-modal-backdrop {
  opacity: 0.7;
}

/*-- end of popover --*/



/*------------------ transactions.html ----------------*/


ul.transactions li {
  list-style-type: none;
  margin: 5px;
}

.transactions .date {
  display: inline-block;
  width: 80px;
}

.transactions .who {
  display: inline-block;
  width: 160px;
}

.transactions .difference {
  display: inline-block;
  text-align: right;
  width: 60px;
}

.transactions .negative {
  color: red;
}

.transactions .positive {
  color: green;
}

/*-- end of transactions.html --*/




.footer-text {
  text-align: center;
}







#phoneNumber .phoneInput {
  width: 292px;
}
.status-notification {
	line-height: 18px;
}
.cl-form .radio-list-multirow {
	width: 100%;
	height: auto;
	display: block;
}
.cl-form .radio-list-multirow div {
	display: -webkit-flex;
}
.cl-form .radio-list-multirow .top-radio-list {
	margin-bottom: 0;
}
.cl-form .radio-list-multirow .top-radio-list label {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0;
}
.cl-form .radio-list .bottom-radio-list label {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


	.cl-bar-footer h3 {
		float: left;
		width: 60px;
		height: 40px;
		position: absolute;
	}
	.cl-bar-footer .footer-prev {
		text-align: right;
	}
	.cl-bar-footer .footer-next {
		
	}
	.cl-bar-footer .footer-text {
		width: 100%;
		text-align: center;
	}